# Ignore environment variable files
.env
env/
ENV/
env.bak/
.env/
 
# Ignore virtual environment directories
.venv
venv/
venv.bak/
__pycache__/
 
# Ignore database files and cache
instance/database.db
.webassets-cache

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.sublime-workspace

# Ignore log files
*.log

# Ignore build or distribution files
dist/
build/
*.tar.gz
*.egg

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore test result directories
test_results/
coverage/
