{%extends "base_user_dashboard.html"%} {% block title %}Home{% endblock %}
{%block add%}

<div class="btn-group">
  <button
    class="btn"
    type="button"
    data-bs-toggle="dropdown"
    data-bs-auto-close="true"
    aria-expanded="false"
  >
    <i class="fa-solid fa-plus fa-xl"></i>
  </button>
  <ul class="dropdown-menu">
    <a id="dropdown-item" href="/create-subject" style="text-decoration: none"
      >Create Subject</a
    >
    <a id="dropdown-item" href="/join-subject" style="text-decoration: none"
      >Join Subject</a
    >
  </ul>
</div>

{% endblock %}
<!-- <div class="card" style="width: 18rem">
  <img src="..." class="card-img-top" alt="class-image" />
  <div class="card-body">
    <h5 class="card-title">{{ subject.subject.name }}</h5>
    <p class="card-text">{{ subject.subject.class_name }}</p>
    <a href="#" class="btn btn-primary">Enter Class</a>
  </div>
</div> -->

{%block teach%}
<div class="grid grid-cols-4 gap-4 mx-8 justify-items-center">
  {% for subject in teacher_subjects %}
  <div class="bg-white shadow-lg rounded-lg pb-4 max-w-xs mx-auto">
    <a href="#" class="group">
      <img
        src="\static\default_subject_background.png"
        alt="students in the class."
        class="aspect-[3/2] w-full rounded-t-lg bg-gray-200 object-cover group-hover:opacity-75"
      />
      <div class="mx-4">
        <h3 class="mt-2 text-lg font-medium text-gray-900">
          {{ subject.subject.name }}
        </h3>
        <p class="mt-1 text-sm text-gray-700">
          {{ subject.subject.class_name }}
        </p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %} {%block enroll%}
<div class="grid grid-cols-4 gap-4 mx-8 justify-items-center">
  {% for subject in student_subjects %}
  <div class="bg-white shadow-lg rounded-lg pb-4 max-w-xs mx-auto">
    <a href="#" class="group">
      <img
        src="\static\default_subject_background.png"
        alt="students in the class."
        class="aspect-[3/2] w-full rounded-t-lg bg-gray-200 object-cover group-hover:opacity-75"
      />
      <div class="mx-4">
        <h3 class="mt-2 text-lg font-medium text-gray-900">
          {{ subject.subject.name }}
        </h3>
        <p class="mt-1 text-sm text-gray-700">
          {{ subject.subject.class_name }}
        </p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
